*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background:url(https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D);
    background-repeat:no-repeat ;
    background-size: cover;
}
.contactform{
   margin:100px ;
   padding:30px 30px;
   justify-content: center;
   background:white ;
   width:600px;

}
.form input{
    border:none;
    margin: 5px;
    width: 100%;
    /*inorder to give whole then width=1*/
}
.form textarea{
    border:none;
    margin: 5px;
}
.form{
    border:1px solid rgb(241, 230, 253);
    margin: 7px ;
    padding:6px 20px;

}
.contactform h1{
    font-weight: 500;
    justify-items:center;
}
.form label{
    font-size: 14px;
    color:rgb(216, 159, 72);
    display: block;
    text-transform:uppercase ;

}
.btn button{
font-size: 25px;
}
.fa fa-user{
color: aliceblue;
}
.header{
display:flex;
padding:10px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
align-items: center;

}
.logo img{
max-width:10%;
}
.nav-menu ul{
display: flex;
}
.nav-menu li{
list-style-type: none;

}
.nav-menu a:hover, .nav-menu li a:active{
text-decoration: underline;
color:orange;
}
.nav-menu a{
text-decoration: none;
font-family:"Dongle-bold";
font-size:1.2rem;
margin: 20px;
}